<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://freesvg.org/img/Woman-Sitting-Down-With-Laptop.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Blog Pessoal
          </a>
        </div>
      </nav>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
            <input class="form-control me-3 mx-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
          <li><img src="https://image.freepik.com/free-vector/friendly-green-alien-spacesuit-cartoon_1284-63005.jpg" width="40" height="40" class="rounded-circle ms-5" ></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opções
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Solicitações</a></li>
              <li><a class="dropdown-item" href="#">Configurações</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sair <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>