#img-bg{
    background-image: url("https://1.bp.blogspot.com/-jL56yjMnWMY/XufSxtfecWI/AAAAAAAATqE/TMmoZz3Ovm0k3dU4BmG5hCUO1YkQZ3JkwCK4BGAsYHg/w335-h638/48887765288_444c1bba19_o.png");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}