<!--Mensagem de Boas Vindas-->
<div class="container-fluid">
  <div class="row d-flex  bg-secondary align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white my-5">
          <h1 class="fs-54">Seja Bem Vindo(a)!</h1>
          <h4 class="fs-18">Blog Pessoal aberto a todos!</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-6">
          <button class="btn btn-dark mr-4" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
          <a class="btn btn-outline-light" href="#postagens">Todas postagens</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  d-flex justify-content-center">
        <img src="https://i.imgur.com/YGMJLba.png" width="500"/>
    </div>
</div>
</div>


<div class="container my-5" id="postagens">
    <!--NavsTabs-->
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
  
      <!--Todas Postagens-->
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas Postagens</a>
    </li>
    <!--Todas Postagens-->

    
    <!--Procurar Postagens-->
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="nav-procurarPostagens-tab" data-toggle="tab" href="#procurarPostagens" role="tab" aria-controls="procurarPostagens" aria-selected="false">Procurar Postagens</a>
    </li>
    <!--Procurar Postagens-->
    
    <!--Minhas Postagens-->
    <li class="nav-item" role="presentation">
      <a (click)='findByIdUser()' class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Minhas Postagens</a>
    </li>
    <!--Minhas Postagens-->
    
  </ul>
  <div class="tab-content" id="myTabContent">
    
    <!--Conteúdo: Todas Postagens-->
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      
      <div *ngFor='let item of listaPostagem' class="card mb-3">
        <div  class="card-body">
          <p class="card-text"><small class="text-muted">Postado por: {{item.usuarioCriador.nome}}</small></p>
          <h5 class="card-title d-flex justify-content-center">{{item.tituloPostagem}}</h5>
          <small>Tema: {{item.temaRelacionado.tema}}</small>
          <p class="card-text">{{item.textoPostagem}}</p>
          <p class="card-text"><small class="text-muted">Publicado em {{item.dataPostagem | date: 'dd/MM/yyyy'}}</small></p>
          <hr>
          <!-- <div class="bg-dark">
          <img src="..." class="card-img-bottom" alt="...">
        </div> -->
        </div>
    </div>
    
  </div>
  <!--Conteúdo: Todas Postagens-->

  <!--Conteúdo: Procurar Postagens-->
  <div class="tab-pane fade" id="procurarPostagens" role="tabpanel" aria-labelledby="nav-procurarPostagens-tab">

    <div *ngFor='let tema of listaTema' class="card mb-3">
      <div *ngFor='let item of tema.postagens' class="card-body">
        <h5 class="card-title d-flex justify-content-center">{{item.tituloPostagem}}</h5>
        <p class="card-text">{{item.textoPostagem}}</p>
        <p class="card-text"><small class="text-muted">Publicado em {{item.dataPostagem | date: 'dd/MM/yyyy'}}</small></p>
        <!-- <p class="card-text"><small class="text-muted">Postado por: {{item.usuarioCriador.nome}}</small></p> -->
        <!-- <div class="bg-dark">
        <img src="..." class="card-img-bottom" alt="...">
      </div> -->
      </div>
  </div>
  </div>

  <!--Conteúdo: Procurar Postagens-->

  <!--Conteúdo: Minhas Postagens-->
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    
    <div class="card mb-3">
    <div *ngFor='let item of user.minhasPostagens' class="card-body">
      <div class="row d-flex col-md-12"> 
      <h5 class="card-title d-flex justify-content-center col-md-11">{{item.tituloPostagem}}</h5>
      <div class="dropdown d-flex col-md-1">
        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
        </button>
        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item text-white" [routerLink]="['/postagem-edit', item.idPostagem]">Editar</a>
          <a class="dropdown-item text-danger" [routerLink]="['/postagem-delete', item.idPostagem]">Deletar</a>
        </div>
      </div>
      </div>
      <small>Tema: {{item.temaRelacionado.tema}}</small>
      <p class="card-text">{{item.textoPostagem}}</p>
      <p class="card-text"><small class="text-muted">Publicado em {{item.dataPostagem | date: 'dd/MM/yyyy'}}</small></p>
      <!-- <div class="bg-dark">
      <img src="..." class="card-img-bottom" alt="...">
    </div> -->
  </div>
    </div>
  </div>
  <!--Conteúdo: Minhas Postagens-->
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="novaPostagemLabel">Crie sua postagem!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="form-group">
                <label for="titulo">Tíulo:</label>
                <input [(ngModel)]='postagem.tituloPostagem' type="text" class="form-control" id="titulo" placeholder="Digite o título">
          </div>

          <div class="form-group">
            <label for="texto">Texto:</label>
            <textarea [(ngModel)]='postagem.textoPostagem' class="form-control" name="texto" id="texto" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="tema">Selecione um tema ou <a data-dismiss="modal" routerLink="/tema">crie um novo</a> :</label>
        <select [(ngModel)]='temaId' (change)='findByIdTema()' class="form-control" name="tema" id="tema">
            <option *ngFor='let item of listaTema' value="{{item.idTema}}">{{item.tema}}</option>
        </select>
  </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal-->